* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

// Header

.header {
	background-color: $color-accent-med;
	text-align: center;

	a {
		color: $color-accent-light;
	}
}

.site-title-link {
	font-size: $size-h1*2;
	text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
    &:hover {
    	text-decoration: none;
    	color: $color-accent-light;
    }
}