
body {
	font-family: $font-body;
}

a, a:hover {
	text-decoration: none;
}

.wf-active {
	h1, h2, h4, h5, h6 {
		font-family: $font-heading;
	}
}

h1 {
	font-size: $size-h1;
	margin-top: $size-h2;
		
	.wf-loading & {
		font-family: $font-heading-fallback;
		font-weight: 300;
	}

}

h2 {
	font-size: $size-h2;
	margin-top: $size-h3;    
}

h3 {
	font-family: $font-body;
}
